.ScrollUpButton__Container{
  background-color: rgb(87, 86, 86);
  height: 30px;
  fill: #292929;
  position: fixed;
  bottom: 70px;
  width: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-property: opacity, right;
  transition-property: opacity, right;
  cursor: pointer;
  opacity: 0;
  right: -75px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  transition: fill 0.5s linear;
  -webkit-transition: fill 0.5s linear;
}
.ScrollUpButton__Container:hover{
  fill: white;
}
.ScrollUpButton__Toggled{
  opacity: 1;
  right: 30px;
}